body{
	line-height: 1.5em !important;
	font-family: 'Roboto', sans-serief !important;
}
.u_inlineBlk{
	display: inline-block !important;
}
.mainCont{
	width: 800px; 
	margin: 150px auto;
}
.text-center{
	text-align: center;
}

.marAut600{
	width: 600px;
	margin: auto;
}

.myCustInpt{
	    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.marT25{
	margin-top: 25px;
}